Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteRule ^search/(.*)$ /off-page/search.php?s=$1 [L]

RewriteRule ^landing/(.*)/(.*)$ /off-page/landing.php?category=$1&filter=$2 [L]
RewriteRule ^landing/(.*)$ /off-page/landing.php?category=$1 [L]
RewriteRule ^external/(.*)$ /off-page/external.php?url=$1 [L]

RewriteRule ^helpful-vote/(.*)/(.*)/(.*)$ /off-page/helpful-vote.php?comment_id=$1&comment_vote=$2&action_type=$3 [L]

RewriteRule ^dashboard-login /wp-login.php [L]
RewriteRule ^dashboard-login/ /wp-login.php [L]

RewriteRule ^company/special-thanks /off-page/special-thanks.php [L]

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>