.postTitle{
	background:url("images/bgimages/postbgblue.png") top center !important;
	border-bottom:1px dashed #FFFFFF;
}

.postBread{
	width:600px;
	height:auto;
	background:#267FCB;
	font-size:11px;
	border-bottom:2px dashed #4AA2D8;
	color:#fff;
}
.postTitle h1.title, .postTitle h1.title a{
	text-decoration:none;
	padding:0;
	margin:0;
	font-family:"Arial Narrow",Arial, Helvetica, sans-serif;
	font-size:25px;
	display:block;
	color:#FFF;
	text-shadow:1px 1px 0px rgba(0,0,0,.3);
}

.postTitle p{
	margin:0;
	padding:0;
	color:#FFF;
	font-size:12px;
	text-shadow:1px 1px 0px rgba(0,0,0,.3);
}
.postTitle span.phonenumber{
	font-size:11px;
	margin-top:6px;
	display:block;
	color:#FFF;
}
.postTitle span.phonenumber a{
	color:#fff;
}