body{
	background:#dbd4c6;
}


.firstBackground{
	background: #dbd4c6 url('images/bgimages/bora.jpg') no-repeat top center;
	width:100%;
	min-height: 800px;
}

.footer .left ul{
	list-style:none;
	margin:0;
	padding:0;
	color:#847F70;
	float:left;
	margin-right:20px;
	width:130px;
}
.footer .left ul li a{
	padding:1px 0px;
	display:block;
	color:#847F70;
	text-decoration:none;
	text-shadow:0 1px 1px rgba(255,255,255,.5);
}
.footer .left ul li a:hover{
	color:#847F70;
}


.footer .left ul li strong,.footertitle{
	text-shadow:0 1px 0px rgba(255,255,255,.9);
}

.footer .left ul li a:hover{
	text-shadow:0 1px 0px rgba(255,255,255,.8);
}


.footer .right{
	margin-left:20px;
	width:333px;
	height:100%;
	text-align:right;
	float: right;
	color:#847F70;
}
.footer .right p, .footer .right p a{
	color:#847F70;
	text-decoration:none;
}
.footer .right p a{
	color:#847F70;
	text-decoration:underline;
}