h1.categoryTitle{
	font-size:40px;
	font-family:"Arial Narrow",Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	color:#4D905D;
	border-bottom:1px dotted #4D905D;
	padding-bottom:10px;
}

.searchresultBox{
    background: none repeat scroll 0 0 red;
    margin: 20px 20px;
    padding: 10px;
    width: 542px;
	background:#FFFDF8;
	min-height:60px;
	border-radius:3px;
	border:1px solid #D1D1D1;
	border-bottom:3px solid #D1D1D1;
	/*box-shadow:0px 1px 5px rgba(0,0,0,.2);*/
}
.searchresultBox .searchResultTitle, .searchresultBox .searchResultTitle a{
	font-size:21px;
	font-family:"Arial Narrow", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#4E5863;
	padding-bottom:5px;
	text-decoration:none;
}
.searchresultBox .searchResultDetails{
	padding:10px 0px;
	border-top:1px solid #F3EFE7;
}
span.arrow_go, span.globe_go{
	height:16px;
	display:inline-block;
	padding-left:20px;
	margin-right:10px;
	color:#677177;
	background:url("images/arrow_go.png") no-repeat;
	margin-bottom:5px;
	margin-top:5px;
	cursor:pointer;
	text-decoration:none;
}

span.globe_go a{
	color:#677177;
	text-decoration:none;
}
span.globe_go a:hover{
	color:#677177;
	text-decoration:underline;
}

span.arrow_go:hover, span.globe_go:hover{
	text-decoration:underline;
}
span.globe_go{
	background:url("images/globe_go.png") no-repeat;
}
span.spacer{
	width:20px;
	display:inline-block;
}
a.imageset{
	text-decoration:none;
}
a.imageset img{
    border: 1px dashed rgba(0, 0, 0, 0.3);
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    height: 30px;
    margin-right: 2px;
    padding: 2px;
    width: 30px;
    background:#fff;
}
div.locationaddress a{
	color:#59788A;
}
div.locationaddress{
   /* background:#fff;*/
    border-radius: 3px 3px 3px 3px;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    margin-left: 0px;
    margin-top: 6px;
    /*padding: 4px 9px;*/
    color:#677177;
    /*border:1px solid #FFF;*/
   /* box-shadow:inset 0 0 2px rgba(0,0,0,.2);*/
   margin-bottom:10px;
}
div.locationaddress span{
	display:block;
	margin-bottom:5px;
}
.catviewgallery{
	background: none repeat scroll 0 0 #52A052;
	border-bottom:2px solid #72C372;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    float: right;
    font-size: 10px;
    margin-right: 10px;
    margin-top: 7px;
    padding: 4px 10px;
    text-decoration: none;
}

.navimargin{
	margin: 10px 21px;
}
.reviewcorner{
	width:520px;
	padding:10px;
	border:1px solid #D6D3C9;
	background:#fff;
	color:#5D7C8F;
	border-radius:5px;
	box-shadow:2px 2px 3px rgba(0, 0, 0, 0.1) inset;
}
.reviewcorner .review em.em{
}
.reviewcorner .review{
	color:#5D7C8F;
	width:511px;
}
.reviewcorner .kowt{
	font-family:Georgia, Helvetica, sans-serif;
	font-size:70px;
	font-weight:bold;
	margin:0;
	padding:0;
	color:#D9D4C8;
	width:auto !important;
	margin-top:-6px;
	line-height:18px;
	position:absolute;
}
.reviewcorner .kowt.bottom{
	margin-top:20px;
}
.reviewcorner .kowt.floatright{
	margin-top:30px;
}
.showreview a:hover{
	text-decoration:underline;
}
.showreview a{
	text-decoration:none;
	color:#5B7880;
}
.textalignright{
	text-align:right;
}
.categoryfilter{
	width:588px;
	color:#555555;
	padding:5px;
	background: rgb(222,239,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,rgba(152,190,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	border-radius:0px 0 3px 3px;
	border:1px solid #D5E8FA;
	font-size:13px;
	display:none;
}
.categoryfilter span.directions{
	display:block;
	font-size:11px;
}
.categoryfilter .overflowcontainer{
	width:565px;
	padding:10px;
	border-radius:3px;
	/*background:#fff;*/
	overflow:auto;
}
.categoryfilter .overflowcontainer .overflowcontent{
	width:auto;
}
.categoryfilter .overflowcontainer .overflowcontent .floatbox{
	width:auto;
	padding:3px;
	border:1px solid #B2B2B2;
	border-bottom:2px solid #B2B2B2;
	background:silver;
	float:left;
	margin-right:10px;
	min-height:150px;
	background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-radius:0 5px 5px 0px;
}

.categoryfilter .overflowcontainer .overflowcontent .floatbox ul{
	list-style:none;
	margin:0;
	padding:0;
}
.categoryfilter .overflowcontainer .overflowcontent .floatbox ul li a{
	padding:6px 20px;
	display:block;
	text-decoration:none;
	color:#7F7D7D;
}

.categoryfilter .overflowcontainer .overflowcontent .floatbox ul li a.selected, .categoryfilter .overflowcontainer .overflowcontent .floatbox ul li a:hover{
	background: rgb(249,252,247); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(249,252,247,1)), color-stop(100%,rgba(245,249,240,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color:#515151;
	font-weight:bold;
}

a.changelocation{
	background: rgb(169,3,41); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-radius:3px;
	margin-right:3px;
	padding: 5px 8px !important;
}
a.changelocation:hover{
}


div.categoryleft{
	width:200px;
	min-height:500px;
	float:left;
	margin-right:10px;
}
div.categoryright{
	width:300px;
	min-height:500px;
	float:left;
	margin-left:10px;
}

div.categoryright div.right{
	margin:0;
	padding:0;
	background:none;
}


div.categorycenter{
	width:420px;
	float:left;
	min-height:500px;
}


div.categorycenter .postBread{
	width:420px;
}

div.categorycenter .postTitle{
	width:400px;
}
div.categorycenter .categoryfilter{
	width:408px;
	overflow:scroll;
}
div.categorycenter .searchresultBox{
	margin:20px 0px;
	width:398px;
}
div.categorycenter .reviewcorner{
	width:auto;
}	
div.categorycenter .navimargin{
	margin:20px 0px;
}
div.categorycenter div.blogpostcatcontainer{
	width:398px;
}
div.categoryleft ul.blogtitlelist li{
	margin:5px 0px;
	padding:5px;
	border-right:1px dotted silver;
}
div.categoryleft ul.blogtitlelist li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
}
div.widesky{
	width:160px;
	height:auto;
}



