.wpPageContent{
	font-size:13px;
	line-height:22px;
	padding:20px;
	color:#333337;
}
blockquote{
	font-family:"Georgia",Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#0E3D30;
	border-left:1px dotted #000;
	padding-left:20px;
}
.sidebar_page{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
	margin:10px 0px;
	border:1px solid #EEEBE1;
	background:#FFF;
}
.children{
	display:none !important;
	list-style:none;
	padding-left:15px;
	border-top:1px dotted #D8D5CA;
	background:#EBE9E4;
}

.sidebar_page li a{
	text-decoration:none;
	padding:5px 10px;
	display:block;
	color:#8F8771;
	text-shadow:1px 1px 0px #F3F3F3;
	font-size:13px;
}


.sidebar_page li:hover > .children{
	display:block !important;
}

.sidebar_page a .arrow{
	margin-top:3px;
}
