.postTitle{
	background:url("images/bgimages/postbgdark.png") top center !important;
	border-bottom:1px dashed #9F9482;
}

.postBread{
	width:600px;
	height:auto;
	background:#867C6C;
	font-size:11px;
	border-bottom:1px dashed #C9B9A1;
	color:#fff;
}
.postTitle h1.title{
	padding:0;
	margin:0;
	font-family:"Arial Narrow",Arial, Helvetica, sans-serif;
	font-size:35px;
	display:block;
	color:#867C6C;
	text-shadow:0 1px 0px rgba(255,255,255,.5);
}

.postTitle p{
	margin:0;
	padding:0;
	color:#867C6C;
	font-size:12px;
	text-shadow:0 1px 0px rgba(255,255,255,.5);
}
.postTitle span.phonenumber{
	font-size:11px;
	margin-top:6px;
	display:block;
	color:#867C6C;
}